.Novelties {
  min-width: 100%;
  min-height: 100%;
  padding-left: 80px;
  background-color: #1c113b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .5s;
}

.Novelties-titulo {
  color: white;
  font-size: 80px;
  background: #fff;
  background: linear-gradient(135deg, #5927E5, #00F6FF);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 420px){
  .Novelties {
    padding-left: 0;
  }
}